/* Reseteo y configuración global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00c5c5;
    padding: 10px 10px;
}

main {
    margin: 50px 10px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent; 
}

header img {
    height: 150px; /* Ajusta el tamaño */
    width: auto;
    /* ESTA ES LA MAGIA: elimina el fondo claro y deja las letras */
    mix-blend-mode: multiply; 
    filter: contrast(1.2); /* Hace que las letras resalten más */
}

#character {
    display: grid;
    
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    width: 100%;
    list-style: none;
    transition: opacity 0.3s ease; /* Hace que el cambio de transparencia sea suave */
}


#character li {
    background: #00ff95;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
}
#character li img {
    width: 100%;       
    height: auto;      
    border-radius: 8px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

#loadMore, #loadLess {
    padding: 10px 25px;
    cursor: pointer;
    background-color: #00ff62;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}

#loadMore:disabled, #loadLess:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
}

/* Contenedor del filtro */
#filters {
    width: 100%; /* Ocupa todo el ancho para poder alinear a la izquierda */
    display: flex;
    justify-content: flex-start; /* Lo manda a la izquierda */
    margin-bottom: -10px; /* Ajusta el espacio con la lista */
}

/* Estilo del SELECT (el desplegable) */
#gender-filter {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #0dff9a;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    outline: none;
    color: #333;
}

/* Efecto al pasar el mouse por el filtro */
#gender-filter:hover {
    border-color: #0bbd72;
}

/* Estilo para el contenedor del Loading */
#loading {
    /* Por defecto oculto */
    display: none; 

    /* Posicionamiento fijo en toda la pantalla */
    position: fixed;
    top: 50%;
    left: 50%;
    
    /* El transform asegura que el centro del div coincida con el centro de la pantalla */
    transform: translate(-50%, -50%);
    
    /* Estilos visuales */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 9999; /* Asegura que esté por encima de todo */
    
    color: #007bff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5rem;
}